<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <img src="https://avatars2.githubusercontent.com/u/49963552?s=400&u=fff79983960e376f7935e04998697ee32d215949&v=4">
      </div>
    </div>

    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username">_teleport</h2>
        <a class="edit-profile">
          <button>Edit Profile</button>
        </a>
      </div>
      <ul class="posts">
        <li><span>12</span> posts</li>
        <li><span>122</span> followers</li>
        <li><span>212</span> following</li>
      </ul>
      <h2 class="name">Teleport Team</h2>
      <a class="website">shopteleport.com</a>
    </div>
  </div>
</div>